.message-panel {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 300px;
  padding: 1rem;
  margin: 0 auto 1rem;
  overflow-y: auto;
  width: 800px;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  padding: 0.5rem;
  text-align: left;
}